{% extends "base.html" %}
{% block content %}



<section class="image1 cid-rOLpaZYgO9" id="image01-36">

    

    
<!-- 
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-12">
                <div class="block">

                     <img src="static/img/01.jpg" alt="Mobirise">

                </div>
            </div>
        </div>
    </div>
 -->
</section>





<section class="cid-rOLp9SF7oO" id="header01-35">

    

    

    <div class="container align-center">
        <div class="row justify-content-center">
            <div class="mbr-black col-md-12 col-lg-9">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">&nbsp; Whatsapp Portal</h1>
                <p class="mbr-text pb-3 mbr-semibold mbr-fonts-style display-7">

                   Whatever the size of your business, your Merchant Portal is the place for analytics, customer engagement, transaction troubleshooting, data and reporting, dispute management, and more.

                   <!--  Customize your checkout page then copy and
paste the link into emails, text messages or on
social media. With one click you can accept
online payments easily from multiple channels.
 -->

<!-- 
                    Offer your customers a variety of payment options ranging from debit cards, credit cards paid directly your mpesa account.
 -->


<!-- Accept credit cards, contactless payments, and eChecks <br> in person and on the go --></p>
               <!--  <div class="mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="https://mobirise.co">Sign up</a> <a class="btn btn-sm btn-black-outline display-4" href="https://mobirise.co">Learn more</a></div> -->
            </div>
        </div>
    </div>
</section>
<!-- 
<section class="image1 cid-rOLpaZYgO9" id="image01-36">

    

    

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-12">
                <div class="block">

                     <img src="static/img/01.jpg" alt="Mobirise">

                </div>
            </div>
        </div>
    </div>

</section>

 -->


 <section class="video1 cid-rOLjRka4vA" id="video01-2h">

    

    

    <div class="container align-center">
        <div class="row justify-content-md-center">

            <div class="mbr-black col-md-12 col-lg-12">

                
                
            </div>


            <div class="mbr-white col-md-12 col-12 col-lg-12">
                <div class="box">
                    <div class="mbr-media show-modal align-center py-2" data-modal=".modalWindow">
                        <div class="icon-wrap">
                            <span class="mbr-iconfont socicon-youtube socicon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="modalWindow" style="display: none;">
            <div class="modalWindow-container">
                <div class="modalWindow-video-container">
                    <div class="modalWindow-video">
                        <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" src="https://youtube.com/embed/r0ZQZfCChp4?rel=0&amp;enablejsapi=1"></iframe>
                    </div>
                    <a class="close" role="button" data-dismiss="modal">
                        <span aria-hidden="true" class="mbri-close mbr-iconfont closeModal"></span>
                        <span class="sr-only">Close</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features7 cid-rOLjv6q1P7" id="features07-1o">

    

    
    <div class="container">
        <div class="row">
            

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">


                    <div class="card-box align-left">
                        
                        <p class="mbr-text pb-2  mbr-fonts-style display-4"><strong>
                                 Customize your page.</strong> <!-- Offer your customers a variety of payment options online and begin accepting payments -->
                                  Easily create a branded hosted payment page by dragging and dropping assets.


                                  <!-- Intuitive, multi-location inventory management helps make smart business decisions -->.</p>


                        <div class="link-wrap">

                            <h5 class="link align-left mbr-semibold mbr-black mbr-fonts-style display-4"><a href="#">
                                    Customize your page</a></h5>

                        </div>
                    </div>

                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">


                    <div class="card-box align-left">
                        
                        <p class="mbr-text pb-2  mbr-fonts-style display-4"><strong>
                               Create a link. </strong>Enter the country, currency, amount, expiry and internal reference.</p>

                        <div class="link-wrap">
                            <h5 class="link align-left mbr-semibold mbr-black mbr-fonts-style display-4"><a href="#">
                                    Create a link</a></h5>

                        </div>
                    </div>

                </div>
            </div>


            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">

                    <div class="card-box align-left">
                        
                        <p class="mbr-text pb-2  mbr-fonts-style display-4"><strong>Troubleshoot transactions.</strong> Track down the status of your transactions, and resolve issues right away.</p>
                        <div class="link-wrap">
                            <h5 class="link align-left mbr-semibold mbr-black mbr-fonts-style display-4"><a href="#">
                                    Troubleshoot transactions</a></h5>

                        </div>
                    </div>

                </div>
            </div>


            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">


                    <div class="card-box align-left">
                        
                        <p class="mbr-text pb-2  mbr-fonts-style display-4"><strong>
                                Get notified
.</strong> Automatically find out when your customer has paid and see all link information .</p>
                        <div class="link-wrap">
                            <h5 class="link align-left mbr-semibold mbr-black mbr-fonts-style display-4"><a href="#">
                                    Get notified</a></h5>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>



{% endblock content %}



