{% extends "base.html" %}
{% block content %}



<section class="image1 cid-rOLpaZYgO9" id="image01-36">

    

    
<!-- 
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-12">
                <div class="block">

                     <img src="static/img/01.jpg" alt="Mobirise">

                </div>
            </div>
        </div>
    </div>
 -->
</section>




<section class="info04 cid-rOLjHPO2oe" id="info04-2a">

    

    

    <div class="container align-left">
        <div class="row justify-content-center">
            <div class="mbr-black col-md-12 col-lg-12">
                <h1 class="mbr-section-title mbr-bold mbr-fonts-style display-1">
                    For each transaction</h1>
                <p class="mbr-text pb-3 mbr-semibold mbr-fonts-style display-1">
                we charge ksh 10 processing fee 
                   <a href="#" class="text-primary">+ a fee determined by the payment method.</a>
                </p>
                
            </div>
        </div>
    </div>
</section>


{% endblock content %}



