{% extends "base.html" %}
{% block content %}


<section class="image1 cid-rOLpaZYgO9" id="image01-36">

    

    
<!-- 
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-12">
                <div class="block">

                     <img src="static/img/01.jpg" alt="Mobirise">

                </div>
            </div>
        </div>
    </div>
 -->
</section>



<section class="accordion1 cid-rOLjJ85LSB" id="accordion01-2e">

    

    
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="section-head text-center space30">
                    
                </div>
                <div class="clearfix"></div>
                <div id="bootstrap-accordion_39" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse1_39" aria-expanded="false" aria-controls="collapse1">
                                <h4 class="mbr-fonts-style display-7">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>How do I sign up?
                                </h4>
                            </a>
                        </div>
                        <div id="collapse1_39" class="panel-collapse noScroll collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_39">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in nulla ut magna
                                    vehicula libero luctus in ipsum consequat faucibus. Ut porta nulla ac dapibus
                                    convallis. Curabitur sit amet massa quam. In ut ex auctor, porta neque quis,
                                    sagittis purus. Nunc auctor gravida magna, sed efficitur tortor tristique quis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a role="button" class="collapsed panel-title" data-toggle="collapse" data-core="" href="#collapse2_39" aria-expanded="false" aria-controls="collapse2">
                                <h4 class="mbr-fonts-style display-7">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>Why was my bank
                                    account rejected? &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</h4>
                            </a>

                        </div>
                        <div id="collapse2_39" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#bootstrap-accordion_39">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in nulla ut magna
                                    vehicula libero luctus in ipsum consequat faucibus. Ut porta nulla ac dapibus
                                    convallis. Curabitur sit amet massa quam. In ut ex auctor, porta neque quis,
                                    sagittis purus. Nunc auctor gravida magna, sed efficitur tortor tristique quis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a role="button" class="collapsed panel-title" data-toggle="collapse" data-core="" href="#collapse3_39" aria-expanded="false" aria-controls="collapse3">
                                <h4 class="mbr-fonts-style display-7">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>How do I refund a
                                    payment to one of my consumers? &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</h4>
                            </a>
                        </div>
                        <div id="collapse3_39" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#bootstrap-accordion_39">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Curabitur in nulla ut magna vehicula libero luctus in ipsum consequat
                                    faucibus. Ut porta nulla ac dapibus convallis. Curabitur sit amet massa quam. In ut
                                    ex auctor, porta neque quis, sagittis purus. Nunc auctor gravida magna, sed
                                    efficitur tortor tristique quis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <a role="button" class="collapsed panel-title" data-toggle="collapse" data-core="" href="#collapse4_39" aria-expanded="false" aria-controls="collapse4">
                                <h4 class="mbr-fonts-style display-7">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>How do I activate
                                    credit card payments?</h4>
                            </a>
                        </div>
                        <div id="collapse4_39" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#bootstrap-accordion_39">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in nulla ut magna
                                    vehicula libero luctus in ipsum consequat faucibus. Ut porta nulla ac dapibus
                                    convallis. Curabitur sit amet massa quam. In ut ex auctor, porta neque quis,
                                    sagittis purus. Nunc auctor gravida magna, sed efficitur tortor tristique quis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFive">
                            <a role="button" class="collapsed panel-title" data-toggle="collapse" data-core="" href="#collapse5_39" aria-expanded="false" aria-controls="collapse5">
                                <h4 class="mbr-fonts-style display-7">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>When does pay out?
                                </h4>
                            </a>
                        </div>
                        <div id="collapse5_39" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#bootstrap-accordion_39">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in nulla ut magna
                                    vehicula libero luctus in ipsum consequat faucibus. Ut porta nulla ac dapibus
                                    convallis. Curabitur sit amet massa quam. In ut ex auctor, porta neque quis,
                                    sagittis purus. Nunc auctor gravida magna, sed efficitur tortor tristique quis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingSix">
                            <a role="button" class="collapsed panel-title" data-toggle="collapse" data-core="" href="#collapse6_39" aria-expanded="false" aria-controls="collapse6">
                                <h4 class="mbr-fonts-style display-7">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>How do I become a
                                    partner?</h4>
                            </a>
                        </div>
                        <div id="collapse6_39" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#bootstrap-accordion_39">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in nulla ut magna
                                    vehicula libero luctus in ipsum consequat faucibus. Ut porta nulla ac dapibus
                                    convallis. Curabitur sit amet massa quam. In ut ex auctor, porta neque quis,
                                    sagittis purus. Nunc auctor gravida magna, sed efficitur tortor tristique quis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}

